@page
@model HospitalManagement.Pages.Service.AddSessionModel

@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

    <style>
    body {
        color: black;
        font-family: cursive;
    }

    form {
        font-size: 14px;
        max-width: 400px;
        margin: auto;
        margin-top: 20px;
    }
        table {
            font-size: 13px
        }

    </style>
    <br />
    
<h3> Add To @Model.serviceName </h3> 
<a class="btn btn-primary btn-sm" href='/Service/SessionCreate?servicename=@Model.serviceName'>Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Session</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.servicelist)
            {

                <tr>
                    <td>@item.id</td>
                    <td>@item.doctor</td>
                    <td>@item.date</td>
                    <td>@item.session</td>
                    <td>@item.status</td>


                    <td>
                        <a class="btn btn-primary btn-sm" href='/Service/DepartmentEdit?id=@item.id'> Edit</a>

                        <a class="btn btn-primary btn-sm" href='/Service/DepartmentDelete?id=@item.id'> Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>