@page
@model HospitalManagement.Pages.Service.ServiceCreateModel
@{
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<style>
	body {
		color: black;
		font-family: cursive;
	}

	form {
		font-size: 14px;
		max-width: 400px;
		margin: auto;
		margin-top: 20px;
	}

	label {
		font-weight: bold;
		margin-bottom: 5px;
	}

	.row {
		margin-bottom: 15px;
	}

	.view {
		max-width:
	}
</style>
<div class="view">
	<h3>New Service</h3>
	@if (Model.errorMessage.Length > 0)
	{
		<div class="alert alert-warning alert-dismissible fade show " role="alert">
			<strong>@Model.errorMessage</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
		</div>
	}
	<form method="POST">
		<div class="row mb-3">
			<label class="col-sm-03 col-form-label">Service Name</label>
			<div class="col-sm-03">
				<input type="text" class="form-control" name="servicename" value="@Model.serviceinfo.servicename" />
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-03 col-form-label">Department</label>
			<div class="col-sm-04">
				@* <input type="text" class="form-control" name="department" value="@Model.serviceinfo.department" /> *@
				<select class="form-control form-select mt-2" name="department" value=" @Model.serviceinfo.department">
					@foreach (var item in Model.servicelist2)
					{
						<option value=@item.fullNames selected>@item.fullNames  </option>

					}
				</select>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-03 col-form-label">Status</label>
			<div class="col-sm-04">
				<select class="form-control form-select mt-2" name="status" value="@Model.serviceinfo.status">
					<option value="Available" selected>Available</option>
					<option value="Not Available" >Not Available</option>
				</select>
		
				@* <input type="text" class="form-control" name="status" value="@Model.serviceinfo.status" /> *@
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-sm-03 col-form-label">Doctor</label>
			<div class="col-sm-04">
			@* 	<input type="text" class="form-control" name="doctor" value="@Model.serviceinfo.doctor" /> *@
				<select class="form-control form-select mt-2" name="doctor" value="@Model.serviceinfo.doctor">
					@foreach (var item in Model.servicelist)
					{
						<option value=@item.docid selected>@item.docid  </option>

					}
				</select>
			</div>
		</div>
		@if (Model.successMessage.Length > 0)
		{
			<div class="row mb-3">
				<div class="col-sm-9">
					<div class="alert alert-success alert-dismissible fade show " role="alert">
						<strong>@Model.successMessage</strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
					</div>
				</div>
			</div>
		}
		<div class="row mb-3">
			<div class="offset-sm-3 col-sm-3 d-grid">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			<div class="offset-sm-3 col-sm-3 d-grid">
				<a class="btn btn-primary" href="/Service/ServiceView" role="button">Cancel</a>
			</div>
		</div>

	</form>
</div>
