@page
@model HospitalManagement.Pages.Doctor.DoctorPageModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        background-color: #2874A6;
    }

    table {
        font-size: 13px
    }

</style>
<br />
<h3>List of Appointments</h3>

<a class="btn btn-primary btn-sm" href='/Appointment/AppointmentPage'> User Create</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Names</th>
            <th>Email</th>
            <th>Service</th>
            <th>History</th>
            <th>Created At</th>
            <th>Respond</th>
            @* <th>Reason</th> *@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.appointmentlist)
        {

            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.service</td>
                <td>@item.history</td>
                <td>@item.createdat</td>
                <td>@item.respond</td>
                @* <td>@item.reason</td>   *@

                <td>
                    <a class="btn btn-primary btn-sm" href='/Register/UserEdit?id=@item.id'> Assign</a>

                    <a class="btn btn-primary btn-sm" href='/Appointment/AppointmentCancel?id=@item.id'>Cancel</a>
                </td>
            </tr>

        }
    </tbody>
</table>
